* {
  color: #fff;
  margin: 0px;
  padding: 0px;

  font-family: "Roboto", sans-serif;

  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;

  transition: all 0.2s ease-in-out;
}

body {
  background-color: #282828;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0px;
}

#numbers {
  width: 60vw;
  height: 100px;
  border: 1px solid #fff;
  background-color: transparent;
  resize: vertical;
  padding: 2vh 2vw;
  border-radius: 10px;
}

#buttonNumbers {
  display: inline-block;
  padding: 1.5vh 2vw;
  border-radius: 300px;
  border: 1px solid #fff;
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
}

#buttonNumbers:hover {
  background-color: #fff;
  color: #282828;
}

.input-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  gap: 30px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8vh;
  padding: 0 10vw;
  width: 100%;
  margin: 13vh 0 10vh;
}

#result {
  color: white;
  margin-top: 10vh;
  flex-flow: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.result-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 1000px;
    background-color: #282828;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1.5vh 3vw;
    border: solid 1px #fff;
    margin-left: "30px";
}